@tailwind base;
@tailwind components;
@tailwind utilities;

/* General reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  @apply font-sans text-base bg-gray-50 text-gray-800 leading-relaxed;
}

:root {
  --header-height: 64px;
}
